<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav>
        <div>Welcome, {{ request.user.username }}</div>
        <div>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'patients:patient_create' %}">Add New Patient</a>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <h2>Patients List</h2>
        
        <div class="cards-container">
            {% for patient in patients %}
            <div class="card">
                <h3><a href="{% url 'patients:patient_detail' patient.id %}">{{ patient.name }}</a></h3>
                <p><strong>Contact Number:</strong> {{ patient.contact_number }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
